@import 'common.scss';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Pacifico&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: $serif-font;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
