@import 'common.scss';

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    padding: 0.25em;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dora {
    align-self: flex-end;
    padding: 1em;
  }

  .handInfo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.5em;
    margin: 1em;
  }

  .seenTiles {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 35%;
    overflow: auto;
    align-items: flex-start;
    justify-content: start;

    .tileCounter {
      display: flex;
      align-items: flex-end;
      padding: 0.3em;
    }
  }

  .moves {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 30%;
    overflow: auto;
    justify-content: start;

    .move {
      display: flex;
      align-items: center;
    }
  }

  .hand {
    display: flex;
    flex-direction: column;
    padding: 2em;

    .tileSet {
      display: flex;

      .discard {
        border: 2px solid red;
      }
    }

    .drawn {
      border: 2px solid green;
    }
  }
}
