.Game {
  .seenTiles {
    display: flex;
    flex-wrap: wrap;
  }
  .moves,
  .hand {
    display: flex;
    flex-wrap: wrap;
    .discard {
      border: 2px solid red;
    }
    .drawn {
      border: 2px solid green;
    }
  }
}
