.Me {
  display: flex;
  margin-top: 15%;

  h2 {
    padding: 1em;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      padding: 1em;
    }

    p {
      padding: 1em;
    }
  }
}
